<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NewProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AE00C9121BFB3C3F0088ECBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE00C92B1BFB3C400088ECBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE00C9361BFB3C400088ECBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
